<div class="entities">
	#{showEntity entities:_arg.getEntitiesByType('Organization'), name:'Organizations', docid:_arg.id /}
	#{showEntity entities:_arg.getEntitiesByType('Company'), name:'Companies', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('EntertainmentAwardEvent'), name:'Award Events', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('EmailAddress'), name:'Email Addresses', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Facility'), name:'Facilities', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('FaxNumber'), name:'Fax Numbers', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Holiday'), name:'Holidays', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('IndustryTerm'), name:'Industry Terms', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('MarketIndex'), name:'Markets Indices', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Person'), name:'Persons', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Product'), name:'Products', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Position'), name:'Positions', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('PhoneNumber'), name:'Phone Numbers', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('PoliticalEvent'), name:'Political Events', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('ProgrammingLanguage'), name:'Programming Languages', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Movie'), name:'Movies', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('MusicAlbum'), name:'Music Albums', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('MusicGroup'), name:'Music Groups', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('MedicalCondition'), name:'Medical Conditions', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('MedicalTreatment'), name:'Medical Treatments', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('OperatingSystem'), name:'Operating Systems', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Currency'), name:'Currencies', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('City'), name:'Cities', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Country'), name:'Countries', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Continent'), name:'Continents', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('ProvinceOrState'), name:'Provinces', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Anniversary'), name:'Anniversaries', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('NaturalFeature'), name:'Natural Features', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('PublishedMedium'), name:'Published Mediums', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('RadioProgram'), name:'Radio Programs', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('RadioStation'), name:'Radio Station', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Region'), name:'Regions', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('SportsEvent'), name:'Sports Events', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('SportsGame'), name:'Sports Games', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('SportsLeague'), name:'Sports Leagues', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('Technology'), name:'Technologies', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('TVShow'), name:'TV Shows', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('TVStation'), name:'TV Stations', docid:_arg.id  /}
	#{showEntity entities:_arg.getEntitiesByType('URL'), name:'URLs', docid:_arg.id  /}
</div>
