#{set 'moreScripts'}
	<script type="text/javascript" src="@{'/public/jgrowl-tip/jquery.jgrowl_minimized.js'}"></script>
#{/set}

#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/jgrowl-tip/jquery.jgrowl.css'}">
#{/set}

<div class="post">
	<h1><a name="${_arg.id}" class="anchor">${_arg.title}</a> <a href="@{Application.edit(_arg.id)}" style="font-size:50%;font-weight: normal;">edit</a> <a href="@{Application.delete(_arg.id)}" onclick="return confirm('Are you sure?');" style="font-size:50%;font-weight: normal;">delete</a></h1>

	<div class="post-body">
		${_arg.content}
	</div>
	<div class="post-footer">
		<div class="separator">
			<strong>Updated</strong>: ${_arg.updated.format('MM/dd, yyyy hh:mma')}
		</div>
		<div class="separator">
			<strong>Topics</strong>:
			#{list items:_arg.document.topics.sort(), as:'topiclocal'}
				<a href="@{Application.showTopic(topiclocal.topic.name)}">${topiclocal.topic.name}</a>${topiclocal_isLast ? '' : ', '}
			#{/list}
		</div>
		<div class="separator">
		<strong>Social Tags</strong>:
			<div class="social-tags">
				${_arg.document.socialTags?.sort().tagCloud('/tag').raw()}
			</div>
		</div>
		
		#{if _arg.document.entities}
			<div class="semantic-data">
				<h2>Semantic data</h2>
				<div class="semantic-body">
					#{showEntities _arg.document /}
				</div>
			</div>
		#{/if}
	</div>
</div>
