<div class="entities">
	#{showEntity entities:_arg.getEntitiesByType('Organization'), name:'Organizations' /}
	#{showEntity entities:_arg.getEntitiesByType('Company'), name:'Companies' /}
	#{showEntity entities:_arg.getEntitiesByType('EntertainmentAwardEvent'), name:'Award Events' /}
	#{showEntity entities:_arg.getEntitiesByType('EmailAddress'), name:'Email Addresses' /}
	#{showEntity entities:_arg.getEntitiesByType('Facility'), name:'Facilities' /}
	#{showEntity entities:_arg.getEntitiesByType('FaxNumber'), name:'Fax Numbers' /}
	#{showEntity entities:_arg.getEntitiesByType('Holiday'), name:'Holidays' /}
	#{showEntity entities:_arg.getEntitiesByType('IndustryTerm'), name:'Industry Terms' /}
	#{showEntity entities:_arg.getEntitiesByType('MarketIndex'), name:'Markets Indices' /}
	#{showEntity entities:_arg.getEntitiesByType('Person'), name:'Persons' /}
	#{showEntity entities:_arg.getEntitiesByType('Product'), name:'Products' /}
	#{showEntity entities:_arg.getEntitiesByType('Position'), name:'Positions' /}
	#{showEntity entities:_arg.getEntitiesByType('PhoneNumber'), name:'Phone Numbers' /}
	#{showEntity entities:_arg.getEntitiesByType('PoliticalEvent'), name:'Political Events' /}
	#{showEntity entities:_arg.getEntitiesByType('ProgrammingLanguage'), name:'Programming Languages' /}
	#{showEntity entities:_arg.getEntitiesByType('Movie'), name:'Movies' /}
	#{showEntity entities:_arg.getEntitiesByType('MusicAlbum'), name:'Music Albums' /}
	#{showEntity entities:_arg.getEntitiesByType('MusicGroup'), name:'Music Groups' /}
	#{showEntity entities:_arg.getEntitiesByType('MedicalCondition'), name:'Medical Conditions' /}
	#{showEntity entities:_arg.getEntitiesByType('MedicalTreatment'), name:'Medical Treatments' /}
	#{showEntity entities:_arg.getEntitiesByType('OperatingSystem'), name:'Operating Systems' /}
	#{showEntity entities:_arg.getEntitiesByType('Currency'), name:'Currencies' /}
	#{showEntity entities:_arg.getEntitiesByType('City'), name:'Cities' /}
	#{showEntity entities:_arg.getEntitiesByType('Country'), name:'Countries' /}
	#{showEntity entities:_arg.getEntitiesByType('Continent'), name:'Continents' /}
	#{showEntity entities:_arg.getEntitiesByType('ProvinceOrState'), name:'Provinces' /}
	#{showEntity entities:_arg.getEntitiesByType('Anniversary'), name:'Anniversaries' /}
	#{showEntity entities:_arg.getEntitiesByType('NaturalFeature'), name:'Natural Features' /}
	#{showEntity entities:_arg.getEntitiesByType('PublishedMedium'), name:'Published Mediums' /}
	#{showEntity entities:_arg.getEntitiesByType('RadioProgram'), name:'Radio Programs' /}
	#{showEntity entities:_arg.getEntitiesByType('RadioStation'), name:'Radio Station' /}
	#{showEntity entities:_arg.getEntitiesByType('Region'), name:'Regions' /}
	#{showEntity entities:_arg.getEntitiesByType('SportsEvent'), name:'Sports Events' /}
	#{showEntity entities:_arg.getEntitiesByType('SportsGame'), name:'Sports Games' /}
	#{showEntity entities:_arg.getEntitiesByType('SportsLeague'), name:'Sports Leagues' /}
	#{showEntity entities:_arg.getEntitiesByType('Technology'), name:'Technologies' /}
	#{showEntity entities:_arg.getEntitiesByType('TVShow'), name:'TV Shows' /}
	#{showEntity entities:_arg.getEntitiesByType('TVStation'), name:'TV Stations' /}
	#{showEntity entities:_arg.getEntitiesByType('URL'), name:'URLs' /}
</div>
