#{extends 'main.html' /}
#{set title:'Analyze' /}

<form method="POST" action="@{Application.analyze}">
	<fieldset>
		<legend>Analyze free text</legend>
		<div class="clearfix #{ifError 'text'}error#{/ifError}">
			<label for="text">Text</label>
			<div class="input">
				<textarea id="text" name="text" class="xxlarge" rows="15">
				</textarea>
			</div>
			<span class="help-inline">#{error 'text' /}</span>
		</div>
	</fieldset>
	<div class="actions">
		<input type="submit" value="analyze" class="btn primary" />
		<a href="/" class="btn">Cancel</a>
	</div>
</form>

<div>
    ${enhanced?.raw()}
</div>

<ul>
#{list items:entities, as:'entity' }
	<li>${entity}</li>
#{/list}
</ul>

<ul>
#{list items:facts, as:'fact' }
	<li>${fact}</li>
#{/list}
</ul>

<div>
	${payload}
</div>
